<!doctype html>
<html lang="en">

<head>
    {{{_sections.head}}}
</head>

<body>
    {{!-- Top menu goes here --}}
    <main>
        {{{body}}}
    </main>
    {{!-- Footer goes here --}}
</body>

</html>