{{#section 'head'}}
<style>
    div.slds-container_center.slds-container--medium {
        margin-top: 5rem;
    }

    h1.slds-text-heading--large {
        font-weight: 600;
        color: #504949;
    }

    h2.slds-text-heading--medium {
        font-weight: 600;
        color: #504949;
    }

    p.about,
    dt.slds-item_label.about,
    dd.slds-item_detail.about {
        font-weight: 400;
        font-size: 1rem;
        color: black;
    }
</style>
<title>About - Genesis Gucci</title>
{{/section}}

<main id="content">
    <div class="slds-container_center slds-container--medium">
        <div class="slds-grid slds-wrap slds-grid_align-center slds-grid_vertical-align-center">
            <div class="slds-col slds-size--1-of-1">
                <h1 class="slds-text-heading--large" title="About Genesis Gucci">
                    About Us
                </h1>
            </div>
            <div class="slds-col slds-size--1-of-1">
                <p class="about">
                    Genesis Gucci is a semi-casual SINoALICE guild actively looking for minstrels to participate in
                    Colosseum from 21:00 - 21:20 EST (Time Slot 8).</p>
            </div>
            <div class="slds-col slds-size--1-of-1 slds-m-top--large">
                <h2 class="slds-text-heading--medium" title="Details of Genesis Gucci">
                    Guild Settings
                </h2>
            </div>
            <dl
                class="slds-col slds-size--1-of-1 slds-grid slds-wrap slds-grid_align-center slds-grid_vertical-align-center slds-m-top--xx-small slds-m-left--xx-large">
                <div class="slds-col slds-size--1-of-3">
                    <dt class="slds-item_label about">Region:</dt>
                </div>
                <div class="slds-col slds-size--2-of-3">
                    <dd class="slds-item_detail about">Canada</dd>
                </div>
                <div class="slds-col slds-size--1-of-3">
                    <dt class="slds-item_label about">Language:</dt>
                </div>
                <div class="slds-col slds-size--2-of-3">
                    <dd class="slds-item_detail about">English</dd>
                </div>
                <div class="slds-col slds-size--1-of-3">
                    <dt class="slds-item_label about">Title:</dt>
                </div>
                <div class="slds-col slds-size--2-of-3">
                    <dd class="slds-item_detail about">7th Grand Colosseum [League 1: Time Slot Top 60]</dd>
                </div>
                <div class="slds-col slds-size--1-of-3">
                    <dt class="slds-item_label about">Tier:</dt>
                </div>
                <div class="slds-col slds-size--2-of-3">
                    <dd class="slds-item_detail about">S</dd>
                </div>
                <div class="slds-col slds-size--1-of-3">
                    <dt class="slds-item_label about">Level:</dt>
                </div>
                <div class="slds-col slds-size--2-of-3">
                    <dd class="slds-item_detail about">100</dd>
                </div>
                <div class="slds-col slds-size--1-of-3">
                    <dt class="slds-item_label about">Rank:</dt>
                </div>
                <div class="slds-col slds-size--2-of-3">
                    <dd class="slds-item_detail about">162</dd>
                </div>
                <div class="slds-col slds-size--1-of-3">
                    <dt class="slds-item_label about">Colosseum Time:</dt>
                </div>
                <div class="slds-col slds-size--2-of-3">
                    <dd class="slds-item_detail about">21:00 - 21:20 EST (Time Slot 8)</dd>
                </div>
                <div class="slds-col slds-size--1-of-3">
                    <dt class="slds-item_label about">Colosseum Participation:</dt>
                </div>
                <div class="slds-col slds-size--2-of-3">
                    <dd class="slds-item_detail about">Once daily</dd>
                </div>
                <div class="slds-col slds-size--1-of-3">
                    <dt class="slds-item_label about">Play Style:</dt>
                </div>
                <div class="slds-col slds-size--2-of-3">
                    <dd class="slds-item_detail about">Semi-casual with focus on Colosseum</dd>
                </div>
                <div class="slds-col slds-size--1-of-3">
                    <dt class="slds-item_label about">Communication Channels:</dt>
                </div>
                <div class="slds-col slds-size--2-of-3">
                    <dd class="slds-item_detail about">In-game guild chat and Discord</dd>
                </div>
            </dl>
            <div class="slds-col slds-size--1-of-1 slds-m-top--large">
                <h2 class="slds-text-heading--medium" title="Recruitment Information">
                    Recruitment Info
                </h2>
            </div>
            <dl
                class="slds-col slds-size--1-of-1 slds-grid slds-wrap slds-grid_align-center slds-grid_vertical-align-center slds-m-top--xx-small slds-m-left--xx-large">
                <div class="slds-col slds-size--1-of-3">
                    <dt class="slds-item_label about">Classes:</dt>
                </div>
                <div class="slds-col slds-size--2-of-3">
                    <dd class="slds-item_detail about">Minstrels</dd>
                </div>
                <div class="slds-col slds-size--1-of-3">
                    <dt class="slds-item_label about">Power:</dt>
                </div>
                <div class="slds-col slds-size--2-of-3">
                    <dd class="slds-item_detail about">Minimum 125,000 points and up</dd>
                </div>
            </dl>
        </div>
        <div class="slds-m-top--xx-large">
            <a class="slds-button slds-button_outline-brand" href="/join">Join Us</a>
        </div>
    </div>
</main>