{{#section 'head'}}
<style>
    @media screen and (max-width: 767px) {
        .minimized {
            max-width: 200px;
            margin-top: 0.75rem;
        }

        .smallCross {
            max-width: 5%;
            margin-top: 1.5rem;
        }
    }

    @media screen and (min-width: 768px) {
        .minimized {
            margin-top: 0.75rem;
        }

        .smallCross {
            max-width: 20%;
            margin-top: 0.75rem;
        }
    }
</style>
<title>Home - Genesis Gucci</title>
{{/section}}

<main id="content">
    <h1 class="slds-assistive-text">Genesis Gucci Landing Page</h1>
    <img src="images/imageedit_237_5368134829.png" alt="" class="center" style="width: 100%; heigh: auto;" />
    <div class="slds-container_center slds-container--medium">
        <div class="slds-grid slds-wrap slds-grid_align-center slds-grid_vertical-align-center slds-m-around--small">
            <div class="slds-col slds-size--1-of-1 slds-medium-size--4-of-12 slds-large-size--4-of-12">
                <img src="images/SINoAliceTitle_Black.png" alt="SINoAlice" class="center responsive-image minimized " />
            </div>
            <div class="slds-col slds-size--1-of-1 slds-medium-size--3-of-12 slds-large-size--3-of-12">
                <img src="images/cross.png" alt="cross over" class="center responsive-image smallCross" />
            </div>
            <div class="slds-col slds-size--1-of-1 slds-medium-size--4-of-12 slds-large-size--4-of-12">
                <img src="images/GG_Logo_TransparentBG_V3.gif" alt="Genesis Gucci"
                    class="center responsive-image minimized" />
            </div>
            <div class="slds-col slds-size--1-of-1">
                <p class="slds-text-heading_medium slds-m-top_x-large" style="text-align: center; font-weight: 400;">A
                    semi-casual SINoALICE guild actively looking for minstrels to participate in
                    Colosseum (Time Slot 8)</p>
            </div>
            <div class="slds-col slds-size--1-of-1 slds-m-top--large" style="text-align: center;">
                <a class="slds-button slds-button_outline-brand" href="/join" role="button">Join Us</a>
                <script>
                    let joinLink = document.querySelector("a.slds-button");
                    joinLink.addEventListener("keydown", event => {
                        if (event.key === " ") {
                            joinLink.click();
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</main>