{{#section 'head'}}
<style>
    html {
        background: #f3f1e2 !important;
        color: black;
    }

    div.landing {
        position: absolute;
        top: 50%;
        left: 50%;
        height: auto;
        transform: translate(-50%, -50%);
    }

    .slds-context-bar {
        border-bottom: 3px solid #a39594 !important;
        background-color: #18B495 !important;
        color: black !important;
        font-weight: 700 !important;
    }

    .slds-context-bar__item.slds-is-active:before {
        background: #f3f1e2 !important;
    }

    .slds-context-bar__item:not(.slds-no-hover):hover,
    .slds-context-bar__item.slds-is-active {
        background-color: rgba(249, 248, 241, 0.5) !important;
    }
</style>
<title>Under Construction - NM Order - Genesis Gucci</title>
{{/section}}

<div class="slds-context-bar">
    <div class="slds-context-bar__primary">
        <div
            class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover">
            <span class="slds-context-bar__label-action slds-context-bar__app-name">
                <span class="slds-truncate" title="App Name">Genesis Gucci</span>
            </span>
        </div>
    </div>
    <nav class="slds-context-bar__secondary" role="navigation">
        <ul class="slds-grid">
            <li class="slds-context-bar__item">
                <a href="/" class="slds-context-bar__label-action" title="Home">
                    <span class="slds-truncate" title="Home">Home</span>
                </a>
            </li>
            <li class="slds-context-bar__item">
                <a href="/members" class="slds-context-bar__label-action" title="Guild Members">
                    <span class="slds-truncate" title="Guild Members">Members</span>
                </a>
            </li>
            <li class="slds-context-bar__item slds-is-active">
                <a href="/nmOrder" class="slds-context-bar__label-action" title="Nightmare Summoning Order">
                    <span class="slds-assistive-text">Current Page:</span>
                    <span class="slds-truncate" title="Nightmare Summoning Order">NM Order</span>
                </a>
            </li>
            <li class="slds-context-bar__item">
                <a href="/about" class="slds-context-bar__label-action" title="Apply to join Genesis Gucci">
                    <span class="slds-truncate" title="Apply to join Genesis Gucci">About Us</span>
                </a>
            </li>
            <li class="slds-context-bar__item">
                <a href="/joinUs" class="slds-context-bar__label-action" title="Apply to join Genesis Gucci">
                    <span class="slds-truncate" title="Apply to join Genesis Gucci">Join Us</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<main>
    <div class="landing">
        <img src="images/menulogo.png" alt="Genesis Gucci logo" />
        <p class="slds-text-heading_medium slds-m-top_x-large" style="text-align: center; font-weight: 400;">Under
            Construction</p>
    </div>
</main>