{{#section 'head'}}
<style>
    div.slds-container_center.slds-container--medium {
        margin-top: 5rem;
    }

    h1.slds-text-heading--large {
        font-weight: 600;
        color: #504949;
    }
</style>
<title>Confirmation - Genesis Gucci</title>
{{/section}}
<main id="content">
    <div class="slds-container_center slds-container--medium">
        <div class="slds-grid slds-wrap slds-grid_align-center slds-grid_vertical-align-center">
            <div class="slds-col slds-size--1-of-1">
                {{!-- <h1 class="slds-text-heading--large">
                    Nightmares Summon Calculator
                </h1> --}}
            </div>
            <div class="slds-col slds-size--1-of-1">
                <img src="images/menulogo.png" alt="Genesis Gucci logo" class="center responsive-image minimized" style="max-width: 5rem;" />
            </div>
            <div class="slds-col slds-size--1-of-1">
                <p class="slds-text-heading_medium slds-m-top_x-large" style="text-align: center; font-weight: 400;">
                    Your application has been received!</p>
            </div>
        </div>
    </div>
</main>